* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fef1e5;
}
@font-face {
  font-family: "ryou-gothic";
  src: url("./assets/fonts/RyoGothicPlusN-Bold.otf") format("opentype");
}
@font-face {
  font-family: "brandon-grotesque-bold";
  src: url("./assets/fonts/brandon-grotesque-bold.otf") format("opentype");
}

#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1251f;
  z-index: 1000;
}
.lottie {
  width: 50vw;
  margin: 50% auto;
  transform: translate3d(0, 0, 0);
  display: block;
  text-align: center;
}
#hero {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1251f;
}

#hero > .icon {
  background-image: url(assets/images/main_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 95%;
  height: 95%;
}

section {
  margin-bottom: 40vh;
}

#about {
  margin-top: -10vh;
}

#instructor {
  margin-bottom: 0vh;
}

.title {
  margin: 15vh auto 0;
  color: #c1251f;
  font-family: "brandon-grotesque-bold";
  font-size: 3em;
  text-align: center;
}

.title::after {
  content: "";
  display: block;
  background: #671116;
  height: 5px;
  width: 120px;
  border-radius: 10px;
  margin: 0.5vh auto 0;
}

.main_description {
  margin: 15vh auto 0 auto;
  color: #671116;
  font-family: "ryou-gothic";
  font-size: 1em;
  text-align: center;
  width: 60%;
}
.sub_description {
  margin: 16px auto 140px auto;
  color: #671116;
  font-family: "ryou-gothic";
  font-size: 0.8em;
  text-align: center;
  width: 40%;
}

#about > .sample_project {
  display: flex;
  width: 70%;
  margin: 20vh auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sample_project > .video {
  min-width: 200px;
  width: 50%;
  border-radius: 2px;
}
#about > .sample_project > .description {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 5%;
  flex-wrap: wrap;
  min-width: 200px;
}
.project_title {
  color: #671116;
  width: 100%;
  display: block;
  font-family: "ryou-gothic";
  font-size: 1em;
}

.project_description {
  color: #671116;
  font-size: 0.8em;
  font-family: "ryou-gothic";
  margin-top: 2vh;
}

.v_line {
  margin: auto 12px auto 0;
  background: #671116;
  border: 2px solid #671116;
  border-radius: 8px;
  height: 0.9em;
}

.tech_img {
  width: 50%;
  margin: 15vh auto 5vh;
  display: block;
}

.instructor_wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 8vh;
}

.instructor_box {
  text-align: center;
  width: 35%;
  padding: 5%;
  min-width: 200px;
}

.instructor_box > img {
  width: 80%;
}
.instructor_name {
  margin: 16px auto 0 auto;
  color: #671116;
  font-family: "ryou-gothic";
  font-size: 1.8em;
  text-align: center;
}
.instructor_gene {
  margin: -12px auto 20px auto;
  color: #671116;
  font-family: "ryou-gothic";
  font-size: 0.9em;
  text-align: center;
}
.instructor_word {
  margin: 16px auto 100px auto;
  color: #671116;
  font-family: "ryou-gothic";
  font-size: 0.8em;
  text-align: center;
}

footer {
  font-family: "ryou-gothic";
  color: #671116;
  font-size: 0.7em;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 2vh;
}

@media screen and (max-width: 630px) {
  body {
    line-height: 2;
  }
  section {
    margin-bottom: 25vh;
  }
  .lottie {
    width: 100vw;
  }
  .title {
    font-size: 3rem;
  }
  .main_description {
    font-size: 1rem;
    margin-top: 10vh;
    width: 90vw;
  }
  #about > .sample_project {
    display: flex;
    width: 90vw;
    margin: 20vh auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #about > .sample_project > .description {
    width: 90vw;
    margin-left: 0;
    margin-top: 5vh;
  }

  .sample_project > .video {
    width: 95vw;
  }
  .project_title {
    font-size: 1rem;
  }
  .project_description {
    font-size: 0.8rem;
  }
  .sub_description {
    font-size: 0.8rem;
    width: 90vw;
  }
  #hero > .icon {
    background-image: url(assets/images/sp-alpha.png);
  }
  .tech_img {
    margin: 15vh auto 5vh;
  }
  .docker {
    width: 100vw;
  }
  .wall {
    width: 75vw !important;
  }
  .community {
    width: 70vw !important;
  }
  .tech {
    width: 100vw !important;
    margin-top: 3vh;
  }
  .instructor_wrapper {
    width: 90vw;
  }

  .instructor_box {
    width: 90vw;
  }

  .instructor_box > img {
    width: 50vw;
  }

  .instructor_word {
    width: 100%;
  }

  #instructor {
    margin-bottom: 5vh;
  }
  footer {
    font-size: 0.003em;
  }
}
